@charset "utf-8";

//////////////////////////////////////////////////////////////////////////
//
//  Blocks : header
//
//////////////////////////////////////////////////////////////////////////

.header{
  width: 100%;
  margin: 30px 0;
  @include e(nav){
    position: relative;
  }
}
